%h1 #{@node.base_url}

- if @node.alive?

  - if @stats
    %table.stack
      %tr
        %th Disk usage
        %td(width="200") #{@stats['uw_diskused_perc']}%
      %tr
        %th CPU load
        %td #{@stats['uw_cpuused']}%

    %h3 Top 3 CPU hungry processes
    %table
      %thead
        %tr
          %th Process
          %th(width="200") CPU usage
      %tbody
        - @stats['uw_cputop'].first(3).each do |proc|
          %tr
            %td= proc[0]
            %td #{proc[1]}%

    %h3 Top 3 memory hungry processes
    %table
      %thead
        %tr
          %th Process
          %th(width="200") Memory usage
      %tbody
        - @stats['uw_memtop'].first(3).each do |proc|
          %tr
            %td= proc[0]
            %td #{proc[1]}%
  - else
    %p An error occurred while fetching the stats data

  = link_to 'Shut down the node', 'javascript:void(0)', method: :post, class: 'alert button', disabled: !@node.shutdown_allowed?, data: { 'shutdown-node' => @node.to_param, 'base-url' => @node.base_url }

- else
  %p The node seems to be unresponsive. It's either malfunctioning or powered off.

= link_to 'Return to the list of nodes', :nodes, class: 'secondary hollow button'
