!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MonitoringApp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-left
        %ul.menu
          %li
            %strong Crossover Trial 1.0
          %li= link_to 'Nodes', :nodes
    .row.medium-9.large-8.columns
      - flash.each do |name, msg|
        %div{class: [name, 'callout']}= msg
      = yield
